a {
    cursor: url('../images/cursor.svg'), auto;

    &:hover {
        cursor: url('../images/cursor.svg'), auto;
    }
}

button {
    cursor: url('../images/cursor.svg'), auto;
}

.button {
    display: inline-flex;
    align-items: center;

    font-family: $font-family-main;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: calc(18 / 14);
    text-decoration: none;

    color: #131313;
    background: #f8d24e;
    border-radius: 10px;
}

.botton--header {
    line-height: 17px;
}

.botton--transparent {
    color: $text-color-dark;
    border-color: #f8d24e;
    background-color: transparent;
    background: $accent-color;
    border-radius: 10px;

    transition: color $main-animation, border $main-animation;

    &:focus {
        color: $text-color-light;
    }
}

.button--about {
    position: relative;

    display: flex;
    align-items: center;
    width: 164px;
    padding: 12px 34px 12px 34px;
    margin-top: 16px;
    margin: 0 auto;

    font-size: 14px;
    line-height: 1.28;

    border: none;
    outline: none;

    transition: color $main-animation, background-color $main-animation;

    &:hover {
        border: none;
        background-color: $hover-color;
    }

    &:focus {
        border: none;
        color: $text-color-light;
        background-color: $hover-color;
    }

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-top: 40px;
    }
}

.button--no-border {
    padding: 7px 12px;

    font-size: 8px;
    line-height: 1.25;
    text-decoration: underline;

    color: $accent-color;
    border: none;
    background-color: transparent;

    &:hover {
        color: $hover-color;
    }
}

.button--header {
    line-height: 17px;
}

.button--transparent {
    padding: 7px 12px;

    font-size: 8px;
    line-height: 1.25;

    border-color: $accent-color;
    background-color: transparent;
    border: 2px solid $accent-color;

    &:hover {
        border: 2px solid $hover-color;
    }

    &:focus {
        border: 2px solid $hover-color;
    }
}

.button__burger {
    padding: 0;
    margin-left: auto;

    background-color: transparent;
    border: none;
    outline: none;

    @media screen and (min-width: 1200px) {
        display: none;
    }

    .button__burger--close {
        display: none;
    }
}

.button__burger.is-open {
    & .button__burger--close {
        display: block;
    }

    & .button__burger--open {
        display: none;
    }
}
